Django==1.7.1
boto==2.36.0
django-appconf==0.6
django-compressor==1.4
django-libsass==0.2
django-storages==1.1.8
gunicorn==19.1.1
libsass==0.6.2
mysql-connector-python==2.0.2
pytz==2014.10
six==1.9.0
whitenoise==1.0.6
